*{ 
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box ;
    font-family: 'Oswald', sans-serif;
    align-items: center;

}


.wrapper {
    margin-left: 600px;
    margin-top: 7%;
    width: 20%;
    border-radius: 8px;
    position: relative;
   
    padding: 30px;
    display : none;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    align-items: center;
    align-self: center;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
  }
  .input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
  }
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
  }
  .input-field input:focus~label,
  .input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
  }
  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #fff;
  }
  #remember {
    accent-color: #fff;
  }
  .forget label {
    display: flex;
    align-items: center;
  }
  .forget label p {
    margin-left: 8px;
  }
  .wrapper a {
    color: #efefef;
    text-decoration: none;
  }
  .wrapper a:hover {
    text-decoration: underline;
  }
  button {
    background: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
  }
  button:hover {
    color: #fff;
    border-color: #fff;
    background: rgba(255, 255, 255, 0.15);
  }
  .register {
    text-align: center;
    margin-top: 30px;
    color: #fff;
  }
  

.icons a{

    background: #dfffd1;
    position: relative;
    height: 60px;
    width: 60px;
    margin: 20px 30px;
    display: inline-flex;
    flex-direction: row-reverse;
    text-decoration: none;
    border-radius: 25%;
    transition: all 0.3s;
    box-shadow: -3px -3px 7px #3ce255,
                3px 3px 5px #ceced1;

    align-items: right ;
  }
  .icons a:hover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 25%;
    background: #ecf0f3;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
  }
  .icons a i{
    position: relative;
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 60px;
  }
  .icons a:hover i{
    transform: scale(0.9);
  }
  .icons a.fb i{
    color: #4267B2;
  }
  .icons a.twitter i{
    color: #1DA1F2;
  }
  .icons a.insta i{
    color: #E1306C;
  }
  .icons a.git i{
    color: #333;
  }
  .icons a.yt i{
    color: #ff0000;
  }
  



body {

    background-image: url("wallpaperflare.com_wallpaper\ \(4\).jpg");

}
main{
    min-height: 90vh;
    width: 100%;
    font-size: 16px;
    
    
    color: #777;
    display: flex;
    flex-wrap: nowrap;
    
    justify-content: left;
    align-items: center;
}

.container {
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container {
    border-radius: 25px;
    position: relative;
    margin: 30px;
    width: 30000px;
    height: 500px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.img-container img {
    width: 100%;
}

.body-container {
    position: relative;
}


.overlay {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 140px;
}


.event-info {
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}


.title,
.price {
    color: #18537a;
    font-size: 1.8em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 12px;
}


.info {
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}


.separator {
    width: 20%;
    height: 6px;
    background-color: #17537a;
    margin-bottom: 16px;
}

.additional-info {
    border-top: 1px solid #bbb;
    margin-top: 12px;
    padding: 28px;
    padding-bottom: 0;
}


.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}


.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info span {
    color: #18537a;
    font-weight: bolder;
}

.action {
    border-radius: 25px;
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
}
